# -*- mode: conf -*-
#

[Unit]
Description=Stolon proxy
After=network.target

[Service]
User=postgres
Group=postgres
Restart=on-failure
WorkingDirectory=/var/lib/stolon
ExecStart=/usr/local/bin/stolon-proxy --cluster-name mycluster --store-backend=consul --port 25432 --log-level warn

[Install]
WantedBy=multi-user.target
